@import "common.css";

.block-wrapper{
  width: 100%;
  height: 100%;
  margin: 0px;
}

/*---------------------------MAIN BLOCK---------------------------*/
.main-block{
  background-image: linear-gradient(to bottom, orange, yellow);
}
/*---------------------------FRIEND BLOCK---------------------------*/

.friend-block{
  padding: 0px;
  background-image: linear-gradient(to bottom, grey, silver);
  box-shadow: -3px 0px 10px rgba(0,0,0,0.5);
}
.friend-block .status-indicator-wrapper{
  height: 8vh;
  padding: 15px 15px;
  display: flex;
  justify-content: space-around;
}
.friend-block .status-indicator-wrapper .status-indicator{
  display: flex;
  align-items: center;
  border: 1px solid silver;
  margin: 0px 15px;
  font-size: 23px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.friend-block .status-indicator-wrapper .btn.status-indicator{
  color: white;
}
.friend-block .status-indicator-wrapper .status-indicator .friend-img{
  width: 100%;
  height: auto;
}

.friend-list-block{
  overflow: auto;
}
.friend-block .friend-list-wrapper{
  height: 92vh;
}
.friend-block .friend-list-wrapper .searchbar-block{
  height: 8vh;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.friend-block .friend-list-wrapper .searchbar-block .input-group-text.search{
  justify-content: center;
  padding: 0;
}
.friend-block .friend-list-wrapper .searchbar-block .form-control{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.friend-block .friend-list-wrapper .friend-list-block{
  height: 84vh;
}

.searchbar-block,
.list{
  padding: 0 15px;
}

.search-img{
  height: 60%;
  width:55%;
}
.input-group .button-add-friend{
  font-weight: bold;
}
