/*------------------------COMMON-----------------------------*/
@font-face{
    font-family : "titleFont";
    src : url('../vendors/fonts/Pacifico-Regular.ttf');
}
body{
  width: 100vw;
  height: 100vh;
  margin : 0px;
}
<<<<<<< HEAD
.block-page {
  background-image: linear-gradient(to bottom, orange, yellow);
  height: 100vh;
  width: 100vw;
}
.block-title {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-title .title {
  color: white;
  font-family: 'titleFont', sans-serif, 'Arial';
  font-size: 5rem;
  font-weight: bold;
}
img{
  max-height: 100%;
}
=======
>>>>>>> afbf9319a5ece8f7bcd600e71ec254c6bb030d60
ul{
  list-style: none;
  padding-left: 0;
}
