@font-face{
    font-family : "titleFont";
    src : url('../vendors/fonts/Pacifico-Regular.ttf');
}

body {
  margin : 0px;
}

.block-page {
  background-image: linear-gradient(to bottom, orange, yellow);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block-title .title {
  color: white;
  font-family: 'titleFont', sans-serif, 'Arial';
  font-size: 5rem;
  margin: 0px;
  height: 25%;
  width: 25%;
  text-align: center;
}

.block-button {
  display: flex;
  flex-direction: column;
}
.block-button .button {
  color: white;
  border: 2px solid white;
  border-radius: 3px;
}
