<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BroQuiz</title>
    <link rel="icon" href="/image/icon/favicon.ico" />
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/css/countrySelect.min.css">
    <link rel="stylesheet" href="/css/accueil2.css">

  </head>

  <body>
    <div class='row block-wrapper'>
      <div class="block main-block">

      </div>
      <div class="block friend-block ">

        <div class="status-indicator-wrapper">

          <button type="button" name="button" class="btn btn-co status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>
          <button type="button" name="button" class="btn btn-away status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>
          <button type="button" name="button" class="btn btn-disco status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>

        </div>

        <div class="friend-list-wrapper" id="test-list">

          <div class=" searchbar-block">
            <form class="add-form" action="/addfriend" method="post">

              <div class="input-group-prepend" >
                <div class="img-contener">
                  <img src="/image/icon/search.png" class="search-img" alt="">
                </div>
                <input type="text" class="form-control instant-search" name="friendLogin" placeholder="Search friend" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <button type="submit" name="button" class="btn btn-light button-add-friend ml-2">+</button>
            </form>
          </div>

          <div class="scroll friend-list-block">
            <ul class="list">
              <li><p class="name">Jean-Philibert De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>

              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>


            </ul>
          </div>

        </div><!--end friend-block-->
      </div><!--end main-block-->
    </div><!--end block-wrapper-->
  </body>

  <script src="/vendors/js/jquery-3.3.1.min.js" charset="utf-8"></script>

  <script src="/vendors/js/list.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var list = new List('test-list', {
      valueNames: ['name']
    });
  </script>
</html>
