<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BroQuiz</title>
    <link rel="icon" href="/image/icon/favicon.ico" />
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/countrySelect.min.css">
    <link rel="stylesheet" href="/css/accueil.css">

  </head>

  <body>
    <div class='row block-wrapper'>
      <div class="block main-block col-9">

      </div>
      <div class="block friend-block col-3">

        <div class="status-indicator-wrapper">
          <button type="button" name="button" class="btn btn-success status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>
          <button type="button" name="button" class="btn btn-warning status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>
          <button type="button" name="button" class="btn btn-danger status-indicator"><img src="image/icon/profile.png" alt="" class="friend-img"><div class="friend-number">2</div></button>
        </div>

        <div class="friend-list-wrapper" id="test-list">

          <div class="input-group searchbar-block">
            <div class="input-group-prepend" >
              <span class="input-group-text search" id="basic-addon1"><img src="/image/icon/search.png" class="search-img" alt=""></span>
            </div>
            <input type="text" class="form-control instant-search" placeholder="Rechercher un ami" aria-label="Search friend" aria-describedby="basic-addon1">
            <button type="button" name="button" class="btn btn-light button-add-friend ml-2">+</button>
          </div>

          <div class="scroll friend-list-block">
            <ul class="list">
              <li><p class="name">Jean-Philibert De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>

              <li><p class="name">Jegrosilibert De La Batte</p></li>
              <li><p class="name">Jean-Philibert De La Batte</p></li>
              <li><p class="name">La Batte</p></li>

              <li><p class="name">oelefkgn La Batte</p></li>

              <li><p class="name">brillantilibert De La Batte</p></li>

              <li><p class="name">put De La Batte</p></li>

              <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                <li><p class="name">La Batte</p></li>

                <li><p class="name">oelefkgn La Batte</p></li>

                <li><p class="name">brillantilibert De La Batte</p></li>

                <li><p class="name">put De La Batte</p></li>

                <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                  <li><p class="name">La Batte</p></li>

                  <li><p class="name">oelefkgn La Batte</p></li>

                  <li><p class="name">brillantilibert De La Batte</p></li>

                  <li><p class="name">put De La Batte</p></li>

                  <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                    <li><p class="name">La Batte</p></li>

                    <li><p class="name">oelefkgn La Batte</p></li>

                    <li><p class="name">brillantilibert De La Batte</p></li>

                    <li><p class="name">put De La Batte</p></li>

                    <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                      <li><p class="name">La Batte</p></li>

                      <li><p class="name">oelefkgn La Batte</p></li>

                      <li><p class="name">brillantilibert De La Batte</p></li>

                      <li><p class="name">put De La Batte</p></li>

                      <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                        <li><p class="name">La Batte</p></li>

                        <li><p class="name">oelefkgn La Batte</p></li>

                        <li><p class="name">brillantilibert De La Batte</p></li>

                        <li><p class="name">put De La Batte</p></li>

                        <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                          <li><p class="name">La Batte</p></li>

                          <li><p class="name">oelefkgn La Batte</p></li>

                          <li><p class="name">brillantilibert De La Batte</p></li>

                          <li><p class="name">put De La Batte</p></li>

                          <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                            <li><p class="name">La Batte</p></li>

                            <li><p class="name">oelefkgn La Batte</p></li>

                            <li><p class="name">brillantilibert De La Batte</p></li>

                            <li><p class="name">put De La Batte</p></li>

                            <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                              <li><p class="name">La Batte</p></li>

                              <li><p class="name">oelefkgn La Batte</p></li>

                              <li><p class="name">brillantilibert De La Batte</p></li>

                              <li><p class="name">put De La Batte</p></li>

                              <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                                <li><p class="name">La Batte</p></li>

                                <li><p class="name">oelefkgn La Batte</p></li>

                                <li><p class="name">brillantilibert De La Batte</p></li>

                                <li><p class="name">put De La Batte</p></li>

                                <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                                  <li><p class="name">La Batte</p></li>

                                  <li><p class="name">oelefkgn La Batte</p></li>

                                  <li><p class="name">brillantilibert De La Batte</p></li>

                                  <li><p class="name">put De La Batte</p></li>

                                  <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                                    <li><p class="name">La Batte</p></li>

                                    <li><p class="name">oelefkgn La Batte</p></li>

                                    <li><p class="name">brillantilibert De La Batte</p></li>

                                    <li><p class="name">put De La Batte</p></li>

                                    <li><p class="name">Jegrosilibert De La Batte</p></li>  <li><p class="name">Jean-Philibert De La Batte</p></li>
                                      <li><p class="name">La Batte</p></li>

                                      <li><p class="name">oelefkgn La Batte</p></li>

                                      <li><p class="name">brillantilibert De La Batte</p></li>

                                      <li><p class="name">put De La Batte</p></li>

                                      <li><p class="name">Jegrosilibert De La Batte</p></li>
            </ul>
          </div>

        </div><!--end friend-block-->
      </div><!--end main-block-->
    </div><!--end block-wrapper-->
  </body>

  <script src="/vendors/js/jquery-3.3.1.min.js" charset="utf-8"></script>
  <script src="/vendors/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/vendors/js/list.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var list = new List('test-list', {
      valueNames: ['name']
    });
  </script>
</html>
