<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BroQuiz</title>
    <link rel="icon" href="/image/icon/favicon.ico" />
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/css/countrySelect.min.css">
    <link rel="stylesheet" href="/css/broquiz-friend.css">


  </head>

  <body>
    <div class="block-page">
      <div class="block-title">
        <h1 class="title">BroQuiz</h1>
      </div>
    </div>


  </body>

  <script src="/vendors/js/jquery-3.3.1.min.js" charset="utf-8"></script>


</html>
