<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BroQuiz</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="block-page">
      <div class="block-title">
        <h1 class="title">BroQuiz</h1>
      </div>
      <div class="block-button">
        <button class="button" type="button">Se connecter</button>
        <button class="button" type="button">S'inscrire</button>
      </div>
    </div>
    <script src="/vendors/js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/vendors/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
