<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BroQuiz</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="block-title">
      <h1 class="title">BroQuiz</h1>
    </div>
  </body>
</html>
